<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TalkFlow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ponzs.talkflow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>talkflow</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>mailto</string>
		<string>sms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires camera access to take photos, record videos, or scan QR codes for sharing and connecting. For example, you can capture a moment to send in a chat or scan a friend’s QR code to add them.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We need Face ID to secure your account</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Allow file access for chat functionality</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to enhance your experience, such as showing nearby friends or local events.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access to record voice messages and enable voice features. For example, you can send a voice note to a friend.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save photos to your library, such as saving a chat image you received.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to upload images. For example, you can share a picture from your gallery in a conversation.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs speech recognition to convert your voice input into text. For example, you can dictate a message instead of typing.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>This app needs to send notifications to alert you about new messages or updates.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISceneConfigurations</key>
	<dict>
		<key>UIWindowSceneSessionRoleApplication</key>
		<array>
			<dict>
				<key>UISceneConfigurationName</key>
				<string>Default Configuration</string>
				<key>UISceneDelegateClassName</key>
				<string>SceneDelegate</string>
			</dict>
		</array>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>com.apple.developer.web-browser-engine.webcontent</key>
	<true/>
</dict>
</plist>
